#conteudo{
    position: absolute;
    top: 25%;
    text-align: center;
}

#Titulo{
    height: 130%;
    font-size: 150%;
}

.error{
    color: var(--ion-color-danger);
}

.button{
    margin-top: 40px;
    margin-right: 120px;
}